/*GLOBAL CSS STYLES WITH VARIABLES*/

:root {
    --primary-color: #0F0F0F; /*#38265b;*/
    --secondary-color: hsl(0, 0%, 33%); /*#b94a20;*/ 
    --secondary-opacity: hsla(118, 53%, 74%, 0.712);
    --background-color: #d4d4d4;/*#261d18;*/
    --background-color-half: #d4d4d47a;
    --text-color: #202020; 
    --font-family: 'Hubot Sans', sans-serif;
    --base-font-size: 18px;

    --small-space: 0.5rem;
    --bigger-space: 1.25rem;
    --medium-space: 10rem;
    --max-width: 1200px;

    --separator: 1.5px solid var(--text-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
a{
    color:var(--link-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.container{
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
}