/*GLOBAL CSS STYLES WITH VARIABLES*/

:root {
    --primary-color: #0F0F0F; /*#38265b;*/
    --secondary-color: hsl(118, 53%, 74%); /*#b94a20;*/ 
    --secondary-opacity: hsla(118, 53%, 74%, 0.712);
    --background-color: #140318;/*#261d18;*/
    --text-color: #d3d3d3; 
    --font-family: 'Wix Madefor Display', system-ui, sans-serif;
    --inverse-color: #F0F0F0; /* Inverse of background color for contrast */
    --base-font-size: 18px;

    --small-space: 0.5rem;
    --medium-space: 2rem;
    --max-width: 1200px;
    --spacing-medium: 1rem;

    --separator: 1.5px solid var(--secondary-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
a{
    color:var(--link-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.container{
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
}